/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron{
background-image: url('header-img-3939w.jpg');
background-repeat:no-repeat;
background-position: left center;
background-size: 100%;
color: white;
}
/* Indent paragraphs under headings. */
.indented-text p { padding-left:10px}
